
{% extends 'base.html' %}

{% block content %}  


<div class="signup-content">

    <h2 class="form-title" style="color: #fff">REGISTER</h2>    

    <!-- {% if user.is_authenticated %}
        <h2 style="color:#fff;margin:-5px" >Hiii {{user.first_name}}!!</h2>
    {% endif %} -->
    
    <div class="form-group">
        <a href="display" type="submit" name="submit" id="submit" class="form-submit"style="width:20%" >Back</a>
        </div>
    
    <form action= "add-donor" method="POST" id="signup-form" class="signup-form">


        {% csrf_token %}
  <div class="form-group">


            <input type="text" class="form-input" name="name" id="name" placeholder="Your Name"  required/>
        </div>
        <div class="form-group">
            <input type="number" class="form-input" name="age" id="age" placeholder="Your Age" required/>
        </div>

        <div class="form-group">Gender
            
            <select class ="form-input" name="gender" required >
                
                <option value=""></option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Transgender">Transgender</option>
                
            
            </select>
           
        </div>
        
        <div class="form-group">Blood Group
            <select class ="form-input" name="blood group" required>
                
                <option value=""></option>
                <option value="A+ve">A+ve</option>
                <option value="B+ve">B+ve</option>
                <option value="B+ve">AB+ve</option>
                <option value="O+ve">O+ve</option>
                <option value="A-ve">A-ve</option>
                <option value="B-ve">B-ve</option>
                <option value="AB-ve">AB-ve</option>
                <option value="O-ve">O-ve</option>

            </select>
            
        </div>
        
        
        <div class="form-group">
            <input type="text" class="form-input" name="City" id="City" placeholder="City" required/>
        </div>
        
        <div class="form-group">
            <input type="tel"  class="form-input" id="phone" name="phone"  placeholder="Phone Number" required>
        </div>



        <div class="form-group">
            <input type="email" class="form-input" name="email" id="email" placeholder="Your Email" required/>
        </div>
        


        <div class="form-group">
            <input type="submit" name="submit" id="submit" class="form-submit" value="ADD"/>
            
        </div>
    </form>
</div>

{% endblock %}                   
                    
